@media screen and (max-device-width: 900px) {
  .work__title {
    height: 30%;
  }

  .work__area {
    height: 40%;
  }
}
@media screen and (max-device-width: 550px) {
  .work {
    min-width: 100%;
  }

  .work__title {
    height: 30%;
  }

  .work__area {
    height: 40%;
  }

  .settings {
    min-width: 100%;
  }

  div.colorPicker-palette {
    width: 80% !important;
  }

  .popup {
    width: 100%;
    background-color: transparent;
  }

  .popup__list {
    width: 100%;
    position: relative;
    padding: 2% 5% 10% 5%;
    left: 0;
    top: 0;
    transform: translate(0, 0);
  }

  .popup__item {
    width: 100%;
  }
}
